@media (max-width: 500px){
    .menuRight span{
        display: block;
        color: white;
    }
    .menuRight ul li{
        display: block;
        text-align: center;
    }
    .menuRight ul{
        display: none;
    }
    .me .left{
        float: none;
        width: 100%;
    }
    .me .right{
        width: 100%;
        float: right;
    }
    .wrapper{
        flex-direction: column;
    }
    .wrapper .items{
        min-height: auto;
    }
    .wrapper .left{
        border: none;
    }
}