*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.me .left img{
    width: 50px;
    height: 100px;
}
h1,h3{
    text-align: center;
}
dl dt{
    font-weight: bold;
}
dl dt dd{
    text-indent: 55px;
}
.nav{
    margin: 5px 5px;
    background: #1d4052;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
}
.nav img{
    height: 45px;
    float: left;
    margin-right: 20px;
}
.menuRight{
    text-align: right;
}
.menuRight span{
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.menuRight ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}
.nav a{
    color: white;
    text-decoration: none;
}
/* .nav a:hover{
    background-color: #111;
    border-radius: 10px;
} */
.active{
    background-color: red;
}
.main{
    padding: 1rem;
}
.me .left{
    width: 300px;
    height: 500px;
    float: left;
}
.me .left img{
    width: 100%;
    height: 100%;
}
.me .right{
    padding: 15px;
    margin-left: 300px;
    background: salmon;
}
.me .right p{
    line-height: 30px;
}
.about{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    display: flex;
}
.wrapper .items{
    min-height: 100vh;
    padding: .5rem;
    text-align: center;
}
.wrapper .left{
    min-width: 30vw;
    border: 2px solid blue;
}
.wrapper .left a{
    text-decoration: none;
    line-height: 2rem;
}
.wrapper .right{
    padding: 1rem;
    line-height: 1.5rem;
    width: auto;
}
.wrapper .right h1{
    padding-bottom: 1rem;
}

pre{
    border: 1px solid blue;
    margin-bottom: 10px;
}
hr{
    margin-bottom: 10px;
}






@media (max-width: 500px){
    .nav{
        margin: 10 0;
    }
    .menuRight span{
        display: block;
        color: white;
    }
    .menuRight ul li{
        display: block;
        text-align: center;
    }
    .menuRight ul{
        display: none;
    }
    .me .left{
        float: none;
        width: 100%;
    }
    .me .right{
        width: 100%;
        float: right;
    }
    .wrapper{
        flex-direction: column;;
    }
    .wrapper .items{
        min-height: auto;
    }
    .wrapper .left{
        border: none;
    }
}


/* html{
    font-size: 62.5%;
} */